//Colour Palette
.has-theme-primary-background-color {
  background-color: #f9cebc;
}
.has-theme-secondary-background-color {
  background-color: #996535;
}

.has-dark-gray-background-color {
  background-color: #666;
}

.has-primary-light-background-color {
  background-color: #FBE1B9;
}

.has-secondary-light-background-color {
  background-color: #F2C49D;
}

.has-primary-dark-background-color{
  background-color: #DE5A13;
}
.has-secondary-dark-background-color{
  background-color: #4A1A00;
}

.has-theme-primary-color {
  background-color: #f9cebc;
}
.has-theme-secondary-color {
  background-color: #996535;
}

.has-dark-gray-color {
  background-color: #666;
}

.has-primary-light-color {
  background-color: #FBE1B9;
}

.has-secondary-light-color {
  background-color: #F2C49D;
}

.has-primary-dark-color{
  background-color: #DE5A13;
}
.has-secondary-dark-background-color{
  background-color: #4A1A00;
}


/** Support for Wide Align Block **/
@media only screen and (min-width: 768px) {

  .alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
  }

  .alignwide {
    margin-left: calc(25% - 25vw);
    margin-right: calc(25% - 25vw);
    width: auto;
    max-width: 1000%;
  }

  .alignwide img,
  .alignfull img {
    display: block;
    margin: 0 auto;
  }
}


/** BlockQuote Support **/
blockquote {
	background: transparent;
	margin: 0 0 $base-margin;
	font-style: italic;
	padding: 0;
	text-align: center;

	cite {
		display: block;
		font-size: 18px;
		margin-top: 17px;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	&.is-large.wp-block-quote {
		margin: 0 0 $base-margin;
		padding: 0;

		cite {
			text-align: center;
		}
	}

	&.wp-block-pullquote {
		border-top: 2px solid $secondary;
		border-bottom: 2px solid $secondary;
		padding: $base-margin 0;
	}
}

hr.wp-block-separator{}

//headings

.home{
  .heading-center{
    text-align: center;
  }
}

/** PRCING COLUMNS BLOCK **/

.wp-block-columns.pricing{
  margin: 40px 0;
  .wp-block-column{
    padding: 5px;
    border: 1px grey dashed;
    border-radius: 2px;
    margin:10px;
    h4{
      font:800 0.8em 'Open Sans', san-serif;
      text-transform:uppercase;
      text-align: center;
      margin-bottom:1em;
      letter-spacing:0px;
      background-color:$primary-700;
      padding:10px 10px;
      height: 40px;
      vertical-align: middle;
      border-radius: 5px;
    }
    h3{
      font:100 1.8em 'Open Sans', san-serif;
      text-transform:uppercase;
      text-align: center;
      margin-bottom:0.5em;
      letter-spacing:0px;
      color:$primary-700 ;
    }
    ul{
      list-style-type: none;
      text-align: center;
      padding: 0px;
      li{

      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .wp-block-columns.has-4-columns.pricing {
    flex-flow: row wrap;
    .wp-block-column{
      flex-basis: 31%;
      justify-content: center;
    }
    .wp-block-column:first-child {
      flex-basis: 97%;
    }

  }
}

@media screen and (max-width: 960px) {
  .wp-block-columns.has-4-columns.pricing {
    flex-flow: row wrap;
    .wp-block-column{
      flex-basis: 30%;
      justify-content: center;
    }
    .wp-block-column:first-child {
      flex-basis: 96%;
    }

  }
}

@media screen and (max-width: 768px) {
  .wp-block-columns.has-4-columns.pricing {
    flex-flow: row wrap;
    .wp-block-column{
      flex-basis: 100%;
      justify-content: center;
    }
  }
}

/** MEDIA AND TEXT Blocks **/


/** GALLERY Block **/

.wp-block-gallery{
  margin:50px 0px;
}

//Block Buttons

.wp-block-button__link, .carousel-button {
    background-color: #32373c;
    border: none;
    border-radius: 28px;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    overflow-wrap: break-word;
}

.is-style-squared .wp-block-button__link {
    border-radius: 4px;
}

.is-style-outline .wp-block-button__link {
    background: 0 0;
    border-radius: 4px;
    border: 2px solid currentcolor;
}

//Carousel BUTTON

.carousel-button {}
