// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// SCSS Syntax http://sass-lang.com/documentation/file.SASS_REFERENCE.html#css_extensions



body{
  font-family: $font-family-sans-serif;
}

.wrapper {
    padding: 0px 0px;
}

//* Title and Font Overides  *//

a {
    color: $secondary-900;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: $secondary-500;
    text-decoration: underline;
}

a:visited {
    color: $primary-800;
}

h3 a, h4 a,{
  color: $primary-300;
}

.page, .single, .archive{
  h1.entry-title, h1.page-title{
    font: 4em/1em Lora, serif;
    color: $primary-300;
    padding-bottom: 10px;
  }
  h3{
    color: $primary-300;
  }
  h4{
    color: $primary-300;
  }
  .entry-meta{
    font: bold 0.8em/1.2em Rubik, serif;
    margin-bottom: 20px;
    .byline{
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    a {
      color: black;
      .updated{
        display:none;
      }
    }
  }
}

.hentry, {
  .entry-content{
    p.subtitle, h2, h2 a{
      font: bold italic 1.2em Lora, serif;
      font-style: italic;
      color: #000;
      line-height: 1.6em;
    }
    p, ul, ol, dl{
      color:$secondary;
    }
  }
}



@media screen and (max-width: 600px) {
  h1.entry-title{font:italic 2em 'lora', serif;}
  h2{font:light 1.5em 'open-sans',san-serif;}
}
@media screen and (min-width: 600px) and (max-width: 1600px) {
  h1.entry-title{font:italic 5em 'lora', serif;}
  h2{font:light 2.5em 'open-sans',san-serif;}

}



//CAROUSEL OVERIDES

.hero-carousel{
  max-width: 100vw;
  margin: 0 auto;
  .carousel{
    .carousel-inner{
      .carousel-item{
        margin: 0 auto;
        max-height: 85vh;
        .carousel-caption{
          text-align: left;
          background-color: rgba($secondary-500, 0.4);
          bottom: 50px;
        }
        img{
          position:relative;
          width:100vw;
          top:-75px;
        }
      }
    }
  }
}

//NAVIGATION

.bg-menu {
  background-color:$brand-primary;
}

#wrapper-navbar, .navbar{
  padding:0;
  max-height:67px;
  z-index: 99999;
  .navbar-brand{
     padding: 0;
     margin: 0;
     max-height: 67px;
     img {
       max-width: 182px;
     }
  }
}

// Gold links against a light gold background
.navbar-gold {
  .navbar-brand {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-gold-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-gold-color;
      letter-spacing: 0.5px;
      font-family: Rubik;
      text-transform: uppercase;
      font-weight: 500;
      @include hover-focus {
        color: $navbar-gold-hover-color;
      }

      &.disabled {
        color: $navbar-gold-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-gold-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-gold-color;
    border-color: $navbar-gold-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-gold-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-gold-color;
    a {
      color: $navbar-gold-active-color;

      @include hover-focus {
        color: $navbar-gold-active-color;
      }
    }
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

//MOBILE NAV STYLING

  @media (max-width: 982px){

  .navbar-toggler{
    margin-right: 10px;
    background: #4a1a00;
    &:focus{
    outline: none;
    }
  }

  .navbar-toggler.collapsed{
    background: none;
    outline: none;
  }

  .navbar-nav{
    background:#f9cebc;
    box-shadow: 0px 5px 18px 2px rgba(191,191,191,0.41);
    .menu-item{
      a{
      padding-left: 20px;
      }
      .dropdown-menu.show{
        li{
          padding-left: 0px;
        }
      }
    }
  }

  .dropdown-menu{
    background:#fbe1b9;
    border-radius: 0px;
    border: none;
  }
}

.navbar-nav{
  background-color: transparent;

}

  @media screen and (max-width: 980px){
  .navbar-nav{
    background-color: #f9cebc;
    box-shadow: 0px 3px 6px 0px rgba(163,163,163,1);
  }
}
//HOME Page

.home-title{
  position: absolute;
  opacity: 0;
  left:-10000px;
}

//POST NAVIGATION
.post-navigation{
  padding:20px 30px;
  margin-top:20px;
  background-color: $primary-100;
  border-radius: 8px 8px 0px 0px;
}

//ARCHIVE STYLING

//Blog ARCHIVE


//Teachers Archive

.post-type-archive-teacher_bio .page-header{
  margin-top: 20px;
}

.post-type-archive-teacher_bio{
  .content-grid{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-between;
    header.bio-header{
      display:block;
      min-height: 300px;
      min-width: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #666;
      position: relative;
      h2.bio-title{
        font-family:Lora, serif;
        color:white;
        bottom: 0px;
        left: 10px;
        position: absolute;
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
      }
    }

    .bio-link{

    }
    .entry-content{
      margin-top:1em;
    }
  }
}

@media screen and (max-width: 770px) {
  .post-type-archive-teacher_bio{
    .content-grid{
      article.teacher_bio{
        max-width:100%;
        margin:5px;


      }
    }
  }
}

@media screen and (min-width: 771px) {
  .post-type-archive-teacher_bio{
    .content-grid{
      flex-direction:row;
      article.teacher_bio{
        width:48%;
        margin-right:2px;

      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .post-type-archive-teacher_bio{
    .content-grid{
      flex-direction:row;
      justify-content: flex-start;
      article.teacher_bio{
        width:32%;
        margin-right:8px;

      }
    }
  }
}



//TEACHER PAGE STYLING

.single, .page-template-fullwidthpage, .single, .page-template-fluidwidthpage{
  header.bio-header, .entry-header{
    margin-bottom:20px;
    margin-bottom:20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    h2.bio-title{
      font-family:Lora, serif;
      font-style: italic;
      font-size: 4em;
      color:white;
      position: absolute;
      text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);

    }
  }
}

@media screen and (max-width: 599px) {
  .single, .page-template-fullwidthpage, .single, .page-template-fluidwidthpage{
    header.bio-header, .entry-header{
      height: 300px;
      h2.bio-title{
        top:20px;
        left:20px;
        font-size: 1.8em ;
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .single, .page-template-fullwidthpage, .single, .page-template-fluidwidthpage{
    header.bio-header, .entry-header{
      height: 400px;
      h2.bio-title{
        color:white;
        bottom:40px;
        left:40px;
        position: absolute;
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .single, .page-template-fullwidthpage, .single, .page-template-fluidwidthpage{
    header.bio-header, .entry-header{
      height: 80vh;
      h2.bio-title, .entry-title{
        bottom:40px;
        left:300px;
      }
    }
  }
}


//Basic Page Styling

//POST STYLING

.page-template-default{
  .offset-container {
      position: relative;
      top: 0px;
      background-color: #fff;
      padding: 10px;
  }
}

.offset-container{
  position: relative;
  top:-160px;
  background-color: #fff;
  padding:10px;
}

@media screen and (max-width: 600px) {
  .offset-container{
    position: relative;
    top:0;
    background-color: #fff;
    padding:10px;
  }
}

//Generic blog style
article.post{
  margin: 0px 0 0 0;
  .entry-header{
    font-size:0.8em !important;
    margin-bottom:5px;
    .entry-meta{

      a{
        color: black;
      }
    }
  }
  .entry-content{
    margin:16px 0 0;
  }
  .entry-footer{
    font-size: 0.8em;
    .tags-links{
      background-color: $primary-900;
    }
  }
}

// Post comments

.comments-area{
  margin-top: 50px;
  background-color:#e3e3e3;
  padding: 20px 10px;
}

h2.comments-title{
  font:  italic 1.8 em Lora, serif;
  font-style: italic;
  color: #000;
  line-height: 1.6em;
}

//PAGE STYLING

//Basic Page Styling

article.page{
  margin: 0px 0 0 0;
  .entry-header{
    postion:relative;
  }
    .entry-title{

    }
    .entry-meta{
      font-size:0.4 rem !important;
    }
  .entry-content{
    margin:16px 0 0;
  }
}


//Page Plus Sideabr


//Page Without Sidebar

//CUSTOM HEADER IMAGE ADJUSTMENTs

.home {
  header{
    height: 30px;
  }
}

.page-about-us, .teacher_bio-cadia-belante{
  header.entry-header, header.bio-header{
    background-position:top;
  }
}

//** MINDBODY WIDGET STYLES**//
//Classes

.healcode {
  .class_show{
    margin:10px 0 20px;
      h1, .class_name{
        font: light 3.5em 'Open Sans', sansa-serif !important;
      }

  }
}

.healcode {
  .class_list{
    margin:10px 0 20px;
      .class_name{
        font: light 3.5em 'Open Sans', sans-serif !important;
      }
  }
  .healcode-title-text{}
}


div.healcode .class_list .class_offered_link a, div.healcode .class_list .trainer_teaches_link a, div.healcode .trainer_list .class_offered_link a, div.healcode .trainer_list .trainer_teaches_link a{
  font: light 3.5em 'Open Sans', sansa-serif !important;
  border-radius: 0px;
}

//BLOCK STYLING

//SIDEBAR STYLING

#right-sidebar, #left-sidebar{
  margin:20px 0 10px;
}

//WIDGET STYLING
// Lists
.widget{
  margin-bottom:20px;
  .widget-title{

  }
  ul{
    list-style-type: none;
    margin:0px 0px 20px;
    padding:0px;
    li{}
  }
}

//* BUTTON STYLING *//
.btn-secondary {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
    &:hover{
      background-color: $secondary-200;
    }
}

//* FOOTER STYLING *//

//* Gutenberg Styles *//
.entry-content .alignfull, .carousel-item.alignfull, .entry-header.alignfull{
    margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
    max-width    : 100vw;
}

.entry-content .alignwide, .carousel-item.alignwide{
    margin-left  : -100px;
    margin-right : -100px;
    max-width    : 1024px;
}

.entry-content .alignfull.pricing{

    max-width    : 100vw;
}

.entry-content .alignwide.pricing {

    max-width: 1024px;
}

// Column Blocks

.wp-block-columns.has-2-columns{
  .wp-block-column{

  }
}

//FOOTER WIDGETS

#footer-full-content{
  padding:20px;
  min-height:20vh;
}

//FOOTER

#wrapper-footer{
  height:40px;
  background-color: #000;
  margin-top:-10px;
  padding: 10px 0;
  .site-info, .site-info a{
    font: 100 12px 'Open Sans', sans-serif;
    color: white;
  }
}

@media screen and (min-width: 320px) {

}

@media screen and (max-width: 1024px) and (min-width: 600px) {

}

@media screen and (min-width: 1024px) {

}


//Buttons and links
//Post Edit links

.post-edit-link{

  background-color: $secondary-600;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: block;
  width: 80px;
  font: bold 0.6em 'open-sans',sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top:20px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: break-word;
  color: $primary-50;
}

.post-edit-link:hover{
  color: $primary-400;
}
